---
import { LANGUAGE_CODE, LANGUAGE_LABEL } from "@constants/language";

import { languageTag, type AvailableLanguageTag } from "@paraglide/runtime";
import { switchLanguage } from "@utils/language";
import Tooltip from "../Tooltip/Tooltip.astro";

const { textSize } = Astro.props;

const currentPath = `${Astro.url.pathname}`;
const lang = languageTag();
const switchLang =
  lang === LANGUAGE_CODE.ENGLISH
    ? `${LANGUAGE_CODE.SPANISH}`
    : `${LANGUAGE_CODE.ENGLISH}`;

    
const switchPathname = switchLanguage(
  currentPath,
  switchLang as AvailableLanguageTag,
);


const isSpanishSelected = lang === LANGUAGE_CODE.SPANISH;
console.log("🚀 ~ isSpanishSelected:", isSpanishSelected)
const isEnglishSelected = lang === LANGUAGE_CODE.ENGLISH;
---

<div class="flex">
  <div
    class:list={[
      "m-auto flex flex-row gap-2 rounded-xl p-4 text-center font-mono font-bold",
      `${textSize ? textSize : "text-4xl"}`,
      "menu",
    ]}
    data-animation="bonus"
  >
    <Tooltip
      class={`${isSpanishSelected ?  "-translate-y-0.5" : "-translate-y-2"}`}
      text={LANGUAGE_LABEL[LANGUAGE_CODE.ENGLISH]}
    >
      <p
        class:list={[
          "-translate-y-2",
          `${isSpanishSelected ? "cursor-pointer text-neutral-500" : "cursor-default"} `,
        ]}
        id={LANGUAGE_CODE.ENGLISH}
      >
        En
        {
          isSpanishSelected &&
        <span
          class="absolute -bottom-1 left-1/2 mb-1 h-1 w-0 rounded-r-full bg-black dark:bg-white group-hover:w-1/2 group-hover:transition-all"
        />
        <span
          class="absolute -bottom-1 right-1/2 mb-1 h-1 w-0 rounded-l-full bg-black dark:bg-white  group-hover:w-1/2 group-hover:transition-all"
        />
        }
      </p>
    </Tooltip>
    <p>/</p>
    <Tooltip class=`${isEnglishSelected ? "translate-y-4" : "translate-y-2"}` text={LANGUAGE_LABEL[LANGUAGE_CODE.SPANISH]}>
      <p
        class:list={[
          "translate-y-2",
          `${isEnglishSelected ? "cursor-pointer text-neutral-500" : "cursor-default"} `,
        ]}
        id={LANGUAGE_CODE.SPANISH}
      >
        Es
        {
          isEnglishSelected &&
        <span
          class="absolute -bottom-1 left-1/2 mb-1 h-1 w-0 rounded-r-full bg-black dark:bg-white group-hover:w-1/2 group-hover:transition-all"
        />
        <span
          class="absolute -bottom-1 right-1/2 mb-1 h-1 w-0 rounded-l-full bg-black dark:bg-white group-hover:w-1/2 group-hover:transition-all"
        />
        }
      </p>
    </Tooltip>
  </div>
</div>
<script define:vars={{ switchPathname, LANGUAGE_CODE, lang }}>
  function switchLanguage() {
    window.location = switchPathname;
  }

  
  const init = () => {
  document
    .getElementById(LANGUAGE_CODE.ENGLISH)
    .addEventListener("click", () => {
      if (lang !== LANGUAGE_CODE.ENGLISH) {
        switchLanguage();
      }
    });

  document
    .getElementById(LANGUAGE_CODE.SPANISH)
    .addEventListener("click", () => {
      if (lang !== LANGUAGE_CODE.SPANISH) {
        switchLanguage();
      }
    });
  }
  init();
  document.addEventListener("astro:after-swap",init)

    
</script>
