---
import { LANGUAGE_CODE, LANGUAGE_LABEL } from "@constants/language";

import { languageTag, type AvailableLanguageTag } from "@paraglide/runtime";
import { switchLanguage } from "@utils/language";
import Tooltip from "../Tooltip/Tooltip.astro";

const currentPath = `${Astro.url.pathname}`;
const lang = languageTag();
const switchLang =
  lang === LANGUAGE_CODE.ENGLISH
    ? `${LANGUAGE_CODE.SPANISH}`
    : `${LANGUAGE_CODE.ENGLISH}`;
const switchPathname = switchLanguage(
  currentPath,
  switchLang as AvailableLanguageTag,
);
---

<div class="flex">
  <div
    class="m-auto flex flex-row gap-2 rounded-xl p-4 text-center font-mono text-4xl font-bold"
  >
    <Tooltip
      class="-translate-y-2"
      text={LANGUAGE_LABEL[LANGUAGE_CODE.ENGLISH]}
    >
      <p
        class:list={[
          "-translate-y-2",
          `${lang === LANGUAGE_CODE.SPANISH ? "cursor-pointer font-thin text-neutral-500" : "cursor-default"} `,
        ]}
        id={LANGUAGE_CODE.ENGLISH}
      >
        En
      </p>
    </Tooltip>
    <p>/</p>
    <Tooltip class="translate-y-2" text={LANGUAGE_LABEL[LANGUAGE_CODE.SPANISH]}>
      <p
        class:list={[
          "translate-y-2",
          `${lang === LANGUAGE_CODE.ENGLISH ? "cursor-pointer font-thin text-neutral-500" : "cursor-default"} `,
        ]}
        id={LANGUAGE_CODE.SPANISH}
      >
        Es
      </p>
    </Tooltip>
  </div>
</div>
<script define:vars={{ switchPathname, LANGUAGE_CODE, lang }}>
  function switchLanguage() {
    window.location = switchPathname;
  }

  document
    .getElementById(LANGUAGE_CODE.ENGLISH)
    .addEventListener("click", () => {
      if (lang !== LANGUAGE_CODE.ENGLISH) {
        switchLanguage();
      }
    });

  document
    .getElementById(LANGUAGE_CODE.SPANISH)
    .addEventListener("click", () => {
      if (lang !== LANGUAGE_CODE.SPANISH) {
        switchLanguage();
      }
    });
</script>
