---
import * as message from "@paraglide/messages";
---

<div>
  <h2>{message.resume_languages_title()}</h2>
  <div class="flex flex-row gap-4">
    <div class="flex flex-row gap-4">
      <h3>EN</h3>
      <div class="flex flex-col">
        <h4>{message.resume_language_en()}</h4>
        <p>{message.resume_language_en_level()}</p>
      </div>
    </div>
    <div class="flex flex-row justify-center gap-4">
      <h3>ES</h3>
      <div class="flex flex-col">
        <h4>{message.resume_language_es()}</h4>
        <p>{message.resume_language_es_level()}</p>
      </div>
    </div>
  </div>
</div>
