---
import { languageTag } from "@paraglide/runtime";
import * as message from "@paraglide/messages";

import Hyperlink from "@commons/Hyperlink/Hyperlink.astro";
import Tag from "@components/commons/Tag/Tag.astro";

import { localizePathname } from "@utils/language";

import { createExperienceList } from "./utils";
import RedirectIcon from "@icons/Redirect.svg?raw";

const EXPERIENCES = createExperienceList(message);
---

<div class="group flex h-full flex-col content-start gap-4 p-4">
  <Tag color="yellow" text={message.experience_tag()} class="self-start" />
  <ul class="flex flex-col gap-4">
    {
      EXPERIENCES.map((experience, index) => (
        <li
          class:list={[
            "flex flex-row justify-between gap-4",
            `${index + 1 !== EXPERIENCES.length ? "border-b pb-4" : ""}`,
          ]}
        >
          <div class="flex flex-col items-start text-left">
            <span>{experience.ROLE}</span>
            <span>{experience.COMPANY}</span>
          </div>
          <div class="flex flex-row text-right">
            <time datetime={experience.DATE_START_RAW}>
              {experience.DATE_START}
            </time>
            <span class="mx-2">&ndash;</span>
            <time datetime={experience.DATE_END_RAW}>
              {experience.DATE_END}
            </time>
          </div>
        </li>
      ))
    }
  </ul>
  <Hyperlink
    href={localizePathname("/resume", languageTag())}
    target=""
    class="mt-auto self-end"
    ariaLabel={message.experience_action_aria_label()}
  >
    <div
      class="flex h-6 w-6 flex-row-reverse items-center overflow-hidden transition-all duration-300 group-hover:w-28"
    >
      <p
        class="mr-7 hidden group-hover:block group-hover:animate-fade-right group-hover:animate-delay-[200ms] group-hover:animate-once group-hover:animate-ease-out"
      >
        {message.experience_action()}
      </p>
      <span
        set:html={RedirectIcon}
        class="absolute stroke-black dark:stroke-white"
      />
    </div>
  </Hyperlink>
</div>
